{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/dark.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        var Schema = (function($){
            var my = {};

            my.id = null;

            my.listen = function(id){
                var source = new EventSource('/listen/' + id);
                source.addEventListener('message', function(event){
                    // TODO: if type == message
                    var data = JSON.parse(event.data);
                    my.addMessage(data.content);
                }, false);
            };

            my.addMessage = function(msg) {
                $messages = $("#messages");
                $messages.append(msg + "\n");
                $messages.scrollTop($messages.prop("scrollHeight"));
            };

            my.register = function(){
                $.getJSON('/register', function(data){
                    if(data.id) {
                        my.id = data.id;
                        Schema.addMessage('Connected.');
                        Schema.addMessage('Your login ID is <strong>' + my.id + '</strong>.');
                        Schema.addMessage('Please pick a name, e.g. <strong>name Joe</strong>.');
                        Schema.addMessage('Then try <strong>look</strong>.');
                        Schema.listen(my.id);
                    }
                });
            };

            my.authenticate = function(id){
                $.getJSON('/login', {id: id}, function(data){
                    if(data.ok) {
                        my.id = id;
                        Schema.addMessage('Connected.');
                        Schema.listen(my.id);
                    } else {
                        Schema.addMessage('There is no player with that ID.');
                    }
                });
            };

            my.command = function(command){
                // TODO: POST
                $.get('/command', {id: my.id, command: command});
            };

            return my;
        })(jQuery);

        $(document).ready(function(){
            $("#input input").bind('keyup', function(e){
                if (e.which == 13) {
                    var val = $(this).val();
                    Schema.addMessage('<span class="dim">&gt; ' + val + '</span>');

                    if (!Schema.id) {
                        if(val == 'register') {
                            Schema.register();
                        } else {
                            Schema.authenticate(val);
                        }
                    } else {
                        Schema.command(val);
                    }

                    $(this).val('');
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div id="container">
        <div id="messages">Welcome to the world.
To log in, enter your ID.
If you don't have an ID, enter <strong>register</strong>.

<span class="dim">(This process will be friendlier in the future, I promise.)</span>
</div>
        <div id="input">
            <input type="text" value="" />
        </div>
    </div>
{% endblock %}
